<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268478724703-ss6bhmu615gvttr5opk3vr840e1khmkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268478724703-ss6bhmu615gvttr5opk3vr840e1khmkd</string>
	<key>API_KEY</key>
	<string>AIzaSyD1utYtJIZ8wcfitfZLDBWtohzD4jPip88</string>
	<key>GCM_SENDER_ID</key>
	<string>268478724703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ganeshrvel.squasharchiver</string>
	<key>PROJECT_ID</key>
	<string>squash-archiver</string>
	<key>STORAGE_BUCKET</key>
	<string>squash-archiver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:268478724703:ios:ecde69859295ad52fd79ea</string>
	<key>DATABASE_URL</key>
	<string>https://squash-archiver.firebaseio.com</string>
</dict>
</plist>
